@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    /* background-color:  */
    /* @apply bg-gray-50 text-slate-900 ; */
    ;
  }
  
  html {
    color-scheme: light;
  }
}

/* Scrollbar styles */
@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #F3F4F6;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #D1D5DB;
    border-radius: 0.5rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #9CA3AF;
  }
}
